.profile {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif !important;
}
.profile .cover {
    width: 100%;
    position: relative;
    background-image: url('/images/cover.jpg');
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile .profileImg {
    position: absolute;
    color: white;
    bottom: -50px;
    left: 180px;
    display: flex;
    align-items: center;
}
@media (max-width: 530px) {
    .profile .profileImg {
        left: 15%;
    }
}
.profile .profileImg img {
    width: 120px;
    height: 120px;
    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(127deg)
        brightness(103%) contrast(104%);
    margin-inline-end: 20px;
}
.profile .profileImg .name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: -20px;
}
.profile .fav-title {
    font-size: 2rem;
    margin-top: 120px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
.profile .heartGif {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
    margin: 130px 0;
}
.profile .heartGif img {
    width: 200px;
    height: 200px;
}
