.product-card {
    position: relative;
}
.product-card .fav-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
