.navText {
    font-size: 12px;
    margin-right: 20px;
}
.navText {
    color: #18272f;
    position: relative;
    text-decoration: none;
}
.navText {
    color: white;
}

.navText::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--color-var4);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
@media (max-width: 990px) {
    .navItem {
        width: min-content !important;
    }
}
.navText:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.signButton button {
    background-color: var(--color-var4);
    outline: none;
    border: none;
    color: white;
    font-size: 10px;
    height: 38px;
}

@media (max-width: 1080px) {
    .smallMedia {
        margin-left: 17% !important;
    }
}
@media (max-width: 992px) {
    .signButton {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .signButton button {
        font-size: 13px !important;
    }
    .smallMedia {
        margin-top: 20px;
    }
}
.rightSide {
    display: flex;
    align-items: center;
}
.myLink {
    color: black !important;
}
.avatar img {
    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(127deg)
        brightness(103%) contrast(104%);
}
.cart {
    margin-inline-end: 30px;
    margin-top: 5px;
}
