.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.login-label {
    font-size: 0.8rem;
    color: var(--color-var4);
    display: block;
    margin-bottom: 0.3rem;
}
.login-input {
    background-color: transparent;
    border: 1px solid var(--color-var4);
    transition: 0.3s ease all;
    border-radius: 10px;
    width: 600px;
    padding: 0.6rem;
    color: white;
}

.login-input::placeholder {
    color: var(--color-var4);
}

.login-input:focus {
    border-width: 2px;
    outline: none;
}

.login-btn {
    background-color: transparent;
    border: 1px solid var(--color-var4);
    color: var(--color-var4);
    padding: 10px 30px;
    border-radius: 6px;
    margin-bottom: 1rem;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
.login-btn:hover {
    background-color: var(--color-var4);
    color: white;
}
@media (max-width: 767px) {
    .login-label {
        font-size: 0.8rem;
    }
    .login-input {
        width: 450px;
        padding: 0.4rem;
    }
    .login-input::placeholder {
        font-size: 0.9rem;
    }
    .authentication-btn {
        flex-direction: column;
        gap: 1rem;
    }
}
@media (max-width: 480px) {
    .login-label {
        font-size: 0.6rem;
    }

    .login-input {
        width: 300px;
        padding: 0.3rem;
    }
    .login-input::placeholder {
        font-size: 0.7rem;
    }
}
.inputContainer,
.myInput {
    width: 450px;
}
@media (max-width: 900px) {
    .inputContainer,
    .myInput {
        width: 100%;
    }
}
.login-form .MuiFormControl-root {
    width: 100%;
}
.login-form input {
    height: 18px;
}
