.filter {
    background-color: #1e2a33;
}

.loading {
    height: 80vh;
}

.products {
    min-height: 100vh;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-card {
    transition: all 0.3s linear;
}

.product-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}
