/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
:root {
    --color-var1: #181818;
    --color-var2: #1e2a33;
    --color-var3: #212121;
    --color-var4: #b20606;
    --text-color: #c6c6c6;
    --font-family: 'Press Start 2P', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.active::before {
    transform-origin: left !important;
    transform: scaleX(1) !important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--color-var1);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-var4);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f6271c;
}
input:-webkit-autofill {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}
::selection {
    background-color: var(--color-var4);
}
body {
    background-color: var(--color-var1);
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}

.container-fluid {
    max-width: 1380px;
}

input::placeholder {
    color: var(--color-var4);
}

.authentication-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
